.pieChart>g>.slices>path {
  stroke: #0d0d0d;
  stroke-width: 5px;
  cursor: pointer;
  transition: fill 250ms;
}

.pieChart>g>.slices>path:hover {
  /* stroke-width: 10px; */
  fill: #fff;
}

.pieChart>g>.labels>text {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.pieChart>g>.lines>polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 5px;
}

@media (max-width: 600px) {
  .pieChart>g>.labels>text {
    font-size: 12px;
  }
}